body {
	font: bold 11px/1.5em Verdana;
	}

.header {
   
    width: 100%;
    font-size: 93%;
    border-bottom: 1px solid #2763A5;
    line-height: normal;
}

.main-navigation {
    float: left;
    margin: 0;
    padding: 10px 10px 0 10px;
    list-style: none;
}

div .header-nav {
    display: inline-block;
}

.login{
    background-color: cadetblue;
    float: right;
}

.clicked {
    color: red;
}